{% from 'search/_search_input.html' import render_search_input with context %}

{% extends 'base_layout.html' %}

{% block body_element_attributes %}class="l-search-results"{% endblock %}

{% block content %}

<div class="l-search-results__top-bar">
    {% include '_top_bar.html' %}
</div>

<div class="l-search-results__search-box">
    {{ render_search_input(search_token) }}
</div>

<div class="l-search-results__search-results">
    {% if search_token is not none and results.total_results > 0 %}
        {% include 'search/_search_results.html' %}
    {% elif search_token is not none %}
        <p>No results found</p>
    {% endif %}
</div>

{% endblock %}
