{% from 'show/_backdrop.html' import render_backdrop %}
{% from 'show/_poster.html' import render_poster %}

{% if show.is_bingeable %}
    {% set favicon_variant = 'bingeable' %}
{% endif %}

{% extends 'base_layout.html' %}

{% block body_element_attributes %}class="l-show-detail"{% endblock %}

{% block content %}

<div class="l-show-detail__top-bar{% if show.backdrop_image is not none %} has-backdrop{% endif %}">
    {% include '_top_bar.html' %}
</div>

<header class="l-show-detail__header feature-header{% if show.poster_image is not none %} has-poster{% endif %}{% if show.backdrop_image is not none %} has-backdrop{% endif %}">
    {% set back_url = return_to_url(request(), route('front_end.app.home')) %}
    <a class="feature-header__back-button" href="{{ back_url }}" aria-label="Back">{{ icon('back-arrow', 'feature-header__back-button-icon') }}</a>

    {% if show.backdrop_image is not none %}
        <div class="feature-header__backdrop-wrap">
            {{ render_backdrop(show.backdrop_image, sizes='100vw', className='feature-header__backdrop-image', alt='') }}
        </div>
    {% endif %}

    <div class="feature-header__details-wrap">
        {% if show.poster_image is not none %}
            {{ render_poster(show.poster_image, sizes='(min-width: 824px) 126px, (min-width: 348px) 102px, 70px', className='feature-header__poster', alt='') }}
        {% endif %}

        <div>
            <h1 class="feature-header__title">{{ show.title }}</h1>

            {% if show.tagline is not none %}
                <p class="feature-header__subtitle">{{ show.tagline }}</p>
            {% endif %}
        </div>
    </div>
</header>

<div class="l-show-detail__body">
    {% set show_meta = [] %}
    {% if show.air_dates_display is not none %}
        {% do show_meta.append(show.air_dates_display) %}
    {% endif %}
    {% if show.countries_emoji|length > 0 %}
        {% do show_meta.append(show.countries_emoji|join(' ')) %}
    {% endif %}

    {% if show_meta|length > 0 or show.networks|length > 0 %}
        <div class="well--centered">
            {% if show_meta|length > 0 %}
                <span class="well__text">{{ show_meta|join(' ') }}</span>
            {% endif %}

            {% if show.networks|length > 0 %}
                <ul class="l-show-detail__networks">
                    {% for network in show.networks %}
                        <li>
                            {% if network.logo is not none %}
                                <img
                                    src="{{ network.logo.default }}"
                                    height="20"
                                    alt="{{ network.name }}"
                                >
                            {% else %}
                                <span>{{ network.name }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endif %}

    <div class="well">
        <ul class="icon-list">
            {% if show.has_ended %}
                <li class="icon-list__item">
                    <span class="roundel-icon red icon-list__item-icon">
                        {{ icon('stop-circle', 'roundel-icon__icon') }}
                    </span>
                    <div class="icon-list__item-body">
                        <p class="icon-list__item-text">This show has ended</p>
                    </div>
                </li>
            {% endif %}
            <li class="icon-list__item">
                <span class="roundel-icon blue icon-list__item-icon">
                    {{ icon('calendar', 'roundel-icon__icon') }}
                </span>
                <div class="icon-list__item-body">
                    <p class="icon-list__item-text">{{ show.status_text|replace('|start_strong|', '<strong>')|replace('|end_strong|', '</strong>')|safe() }}</p>
                </div>
            </li>
        </ul>
    </div>

    {% if show.overview is not none %}
        <h2 class="l-show-detail__section-title">Overview</h2>

        <div class="well">
            <p class="well__text">{{ show.overview }}</p>
        </div>
    {% endif %}

    {% if show.seasons|length > 0 %}
        <h2 class="l-show-detail__section-title">Episodes</h2>

        {% for season in show.seasons %}
            <details class="well--collapsable l-show-detail__season"{% if season.episodes is not none %} open{% endif %}>
                <summary class="well__header">
                    <h3 class="well__title">{{ season.name }}{% if season.name != 'Specials' and season.year is not none %} ({{ season.year }}){% endif %}</h3>
                    <p class="well__description">{{ season.episode_count }} episode{% if season.episode_count != 1 %}s{% endif %}</p>
                    {{ icon('chevron-down', 'well__disclosure-icon') }}
                </summary>

                {% if season.episodes is not none %}
                    {% include 'show/_season_episodes.html' %}
                {% else %}
                    {% set episodes_route = route(
                        'api.app.season_episodes.get',
                        {
                            'show_id': show.tmdb_id,
                            'season_number': season.season_number,
                        },
                        absolute=False
                    ) %}
                    <lazy-details src="{{ episodes_route }}" aria-live="polite" aria-busy="false">
                        {% set loading_text = 'Hang tight, we’re fetching those episodes…' %}
                        {% include '_loading_notice.html' with context %}
                    </lazy-details>
                {% endif %}
            </details>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}
