@use 'config/config';
@use 'helpers/breakpoint';
@use 'helpers/button';
@use 'helpers/focus-visible';

$margin-inline: config.config-get(size, inline-page-offset);
$margin-bottom: config.config-get(size, end-of-page-offset);
$max-width: config.config-get(size, layout-max-width);
$larger-layout-breakpoint: config.config-get(size, layout-main-breakpoint);

$legend-line-height: 1.4;
$legend-margin-bottom: 26px;
$legend-larger-layout-margin-bottom: 32px;

$result-column-gap: 20px;
$result-larger-layout-column-gap: 40px;
$result-padding-block: 10px;
$result-larger-layout-padding-block: 24px;

$result-poster-width: 70px;

$result-title-margin-bottom: 4px;
$result-title-larger-layout-margin-bottom: 8px;
$result-title-text-size: 16px;
$result-title-larger-layout-text-size: 18px;
$result-title-text-weight: 600;

$result-meta-text-size: 14px;
$result-meta-larger-layout-text-size: 16px;

.search-results {
    --margin-inline: #{$margin-inline};
    --meta-font-size: #{$result-meta-text-size};
    --title-font-size: #{$result-title-text-size};
    --title-font-weight: #{$result-title-text-weight};
    --title-margin-block-end: #{$result-title-margin-bottom};
    --legend-margin-block-end: #{$legend-margin-bottom};
    --result-column-gap: #{$result-column-gap};
    --result-padding-block: #{$result-padding-block};
    --result-divider-inset-inline-start: #{$result-poster-width + $result-column-gap};
    margin-inline: var(--margin-inline);
    margin-block-end: $margin-bottom;

    @include breakpoint.breakpoint($larger-layout-breakpoint) {
        --margin-inline: auto;
        --meta-font-size: #{$result-meta-larger-layout-text-size};
        --title-font-size: #{$result-title-larger-layout-text-size};
        --title-margin-block-end: #{$result-title-larger-layout-margin-bottom};
        --legend-margin-block-end: #{$legend-larger-layout-margin-bottom};
        --result-column-gap: #{$result-larger-layout-column-gap};
        --result-padding-block: #{$result-larger-layout-padding-block};
        --result-divider-inset-inline-start: #{$result-poster-width + $result-larger-layout-column-gap};
        max-width: $max-width;
    }
}

.search-results__results-legend {
    line-height: $legend-line-height;
    margin-block-start: 0;
    margin-block-end: var(--legend-margin-block-end);
    text-align: center;
}

.search-results__results-legend strong {
    font-weight: 500;
}

.search-results__results-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-results__result-link {
    color: inherit;
    display: grid;
    column-gap: var(--result-column-gap);
    grid-template-columns: $result-poster-width 1fr;
    text-decoration: none;
    padding-block: var(--result-padding-block);
    position: relative;

    @include focus-visible.focus-visible() {
        outline: 0;

        .search-results__result-poster {
            @include button.focus-ring;
            outline-offset: 4px;
        }
    }
}

.search-results__result:first-child .search-results__result-link {
    padding-block-start: 0;
}

.search-results__result:last-child .search-results__result-link {
    padding-block-end: 0;
}

.search-results__result-link::after {
    background-color: var(--decoration-against-default-background-color);
    inset-block-end: 0;
    content: '';
    height: 1px;
    inset-inline-start: var(--result-divider-inset-inline-start);
    inset-inline-end: 0;
    position: absolute;
}

.search-results__result:last-child .search-results__result-link::after {
    content: none;
}

.search-results__result-poster {
    --poster-width: #{$result-poster-width};
}

.search-results__result-info {
    align-self: center;
}

.search-results__result-title {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
    margin-block-start: 0;
    margin-block-end: var(--title-margin-block-end);
}

.search-results__result-title:only-child {
    margin-block-end: 0;
}

.search-results__result-meta {
    color: var(--foreground-color-muted);
    font-size: var(--meta-font-size);
}
