$config: (
    schemes: (
        light: (
            background-color: hsla(43, 37%, 96%, 1),
            background-color-half-transparent: hsla(43, 37%, 96%, .5),
            background-color-transparent: hsla(43, 37%, 96%, 0),
            foreground-color: #181c25,
            foreground-color-muted: #757b8a,
            foreground-color-muted-alt: #757b8a,
            decoration-against-default-background-color: #e3e5e8,
            decoration-against-content-background-color: #eeeff1,
            poster-shadow-color: rgba(#181c25, .5),
            input-background-color: #fff,
            input-placeholder-color: #858ca3,
            outline-color-start: hsl(211, 71%, 53%),
            outline-color-end: hsl(194, 79%, 41%),
            well-background-color: #fff,
            'white': #fff,
            snowflake-color: hsl(186, 37%, 56%),
        ),
        dark: (
            background-color: hsla(224, 22%, 10%, 1),
            background-color-half-transparent: hsla(224, 22%, 10%, .5),
            background-color-transparent: hsla(224, 22%, 10%, 0),
            foreground-color: #f9f7f2,
            foreground-color-muted: #858ca3,
            foreground-color-muted-alt: #bfbeba,
            decoration-against-default-background-color: #282e3e,
            decoration-against-content-background-color: #3c455d,
            poster-shadow-color: rgba(#181c25, 1),
            input-background-color: #282e3e,
            input-placeholder-color: #858ca3,
            outline-color-start: hsl(211, 71%, 53%),
            outline-color-end: hsl(211, 90%, 53%),
            well-background-color: #282e3e,
            'white': #f9f7f2,
            snowflake-color: #fff,
        ),
    ),
    'blue': #3083dc,
    'red': #e84855,
    'green': #1b998b,
    vibrant-grey: #858ca3,
    input-icon-color: #858ca3,
);
